<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlKbnmALhrUYeTUh4vj-iKsgcyYeHqrdI</string>
	<key>GCM_SENDER_ID</key>
	<string>913078029574</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAppKs.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>survey-app-ks</string>
	<key>STORAGE_BUCKET</key>
	<string>survey-app-ks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:913078029574:ios:ccd3cfcd5b0868b076a287</string>
	<key>DATABASE_URL</key>
	<string>https://survey-app-ks-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>